<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# bootstrap 5 css #}
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <title></title>
</head>
<style>
    .page_break {
        page-break-after: always;
    }

    .navbar {
        background: -webkit-linear-gradient(top, #54A79B, #54A79B);
    }
</style>
<style>
    /* Fix wkhtmltopdf compatibility with BS flex features */
    .row {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .row > div {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

    .row > div:last-child {
        margin-right: 0;
    }

    /* Fix wkhtmltopdf compatibility with BS tables borders */
    /* Requires cellspacing="0" on table to prevent spacing */
    table {
        border-collapse: separate !important;
    }

    th, td {
        border-top: none;
        border-left: none;
        border-right: none;
    }

    /** set font size globally to 14px **/
    li {
        font-size: 18px;
    }
</style>
<body>

<div class="page_break">
  <p>lorem ipsum</p>
</div>

<!-- navbar -->
{% for chunk in chunks %}
  <div class="page_break">
    <div class="navbar navbar-expand-lg navbar-light mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
           <img src="{{ absolute_url(asset("images/brand_logo.jpg")) }}" alt="">
        </a>
      </div>
    </div>
    <div class="container d-flex justify-content-around gap-1">
      <div class="row">
        {% for dataset in chunk %}
          <div class="col-5 card">
            <div class="card-body">
              <h5 class="card-title">{{ dataset.title }}</h5>
              <div class="card-text">
                <ul>
                  {% for item in dataset.inputs %}
                    <li><b>{{ item.label }}</b>: {{ item.value }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% if dataset.image is defined %}

              <img src="{{ absolute_url(asset("images/" ~ dataset.image)) }}" class="card-img-bottom" alt="lorem ipsum">

            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</body>
</html>

